{% extends layout %}

<div class="page-{{ name }}">
	<components></components>
</div>


<!-- TO DO
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "address": "",
  "email": "",
  "telephone": "",
  "name": "",
  "logo": "",
  "url": "{{ home_url }}"
}
</script>
 -->