{% extends layout %}

{% block body %}
<div class="page-{{ name }}">
	<wml-components></wml-components>
</div>


<!-- TO DO
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "address": "",
  "email": "",
  "telephone": "",
  "name": "",
  "logo": "",
  "url": "{{ home_url }}"
}
</script>
 -->
{% endblock body %}