<div block="{{ name }}">
    <swiper class="m-slider" :options="sliderOptions">
        {% for item in data %}
                <swiper-slide class="m-slider__slide">
                    <wml-elements></wml-elements>
                    <wml-components></wml-components>
                </swiper-slide>
        {% endfor %}
    </swiper>
</div>
